/* #profile-register-container {
  width: 600px;
  height: 650px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#profile-register-header {
  text-align: center;
}

#profile-register-body label {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: orange;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: white;
  cursor: pointer;
  border: 1px solid orange;
  border-bottom-color: orange;
  border-radius: 0.25em;
}

#profile-photo input[type='file'] {
  /* 파일 필드 숨기기
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#profile-photo-input {
  display: block;
  width: 75px;
  height: 50px;
  padding: 0.375rem 0.75rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#doctor-validate label {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: gray;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: white;
  cursor: pointer;
  border: 1px solid gray;
  border-bottom-color: gray;
  border-radius: 0.25em;
}

#self-introduction-input {
  display: block;
  width: 600px;
  height: 40px;
  padding: 0.375rem 0.75rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#profile-register-footer {
  text-align: center;
  padding-top: 30px;
}

#profile-register-footer button {
  width: 220px;
  height: 45px;
  border: 1px solid orange;
  border-radius: 0.5rem;
  margin: auto;
  background: white;
  color: orange;
  font-size: 1em;
}

#profile-register-footer button:hover {
  background: orange;
  color: white;
  font-size: 1em;
}

#profile-register-footer button:focus {
  outline: none;
}

#address-input {
  display: block;
  width: 600px;
  height: 40px;
  padding: 0.375rem 0.75rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}  */
