/* .sign-container button {
  width: 220px;
  height: 45px;
  border: 1px solid orange;
  border-radius: 0.5rem;
  margin: 10px;
  background: white;
  color: orange;
  font-size: 1em;
}

.sign-container button:hover {
  background: orange;
  color: white;
  font-size: 1em;
}

.sign-container button:focus {
  outline: none;
}

.sign-btn-container {
  float: left;
  position: center;
  margin: auto;
} */
