#navigation-container {
  width: 100%;
  height: 6vh;
  padding: 10px;
  background-color: white;
  border: 1px solid #ff8a4e;
}

#navigation-container button {
  font-weight: bolder;
  padding-top: 5px;
  font-size: 15px;
  margin-left: 10px;
  color: #ff8a4e;
  background: white;
  border: none;
}
